body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
p{
    color:dimgray;
    text-align: justify;
}
.orange_highlight{
    color:orange
}
.half-width{
    width:37%;
    float:left;
    margin-left:3%;
    padding:2%;

}
.half-width img{
    width:100%;
}
.top_banner{
    
    background-image:url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom:150px;
}
.link_button{
    text-decoration:none;
    background-image:linear-gradient(45deg,  lightsalmon,tomato);
    padding:10px 20px;
    color:white;
    font-weight:700;
    border-radius:6px
}
.profile2{
    float: left;
}
.dream_area{
    background-image:url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position:right;

}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius:5px;
    height:80%;
}
.experience_area{
    background-image:url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position:left;
}
#full_stack{
    border-left:7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice:1;
}
#baby_wab{
    border-left:7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice:1;
    
} 
footer p{
    text-align:center;
    font-size:12px;
}

